.navbar {
    background: black !important;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    background-color: brown;
    border-radius: 50%;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 1em !important;
}

.navbar-toggler {
    width: 2em;
    padding: inherit;
}

.navbar-toggler-icon {
    width: 1.5em;
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(164, 158, 158) !important;
    display: block;
    font-size: 1.4rem;
}

.nav-link:hover {
    color: black !important;
    background-color: #d6d0d0;
    border-radius: 10px;
}

.navbar-nav {
    margin-left: 1em;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: coral;
    margin: auto;
    display: block;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

h4 {
    font-size: 2rem;
}

.card {
    max-width: 280px;
    margin: 20px 0px 20px 0px;
    height: 455px;
    overflow-x: auto;
}

.card:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.cardBody {
    margin: 0.6rem;
}

.innerdiv {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0;
    background: hsla(178, 100%, 50%, 0.5) url('icon-view.svg') no-repeat center;
}

.card:hover .innerdiv {
    display: block;
    height: 200px;
    transition: height .5s ease;
}

.image {
    height: 200px;
}

.round {
    border-radius: 50%;
}

#prev,
#next {
    all: unset;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.6rem;
    background-color: rgb(248, 247, 247);
}

#prev_next_btn {
    text-align: center;
}

#next {
    margin-left: 1em;
    padding: 0.5rem 2.2rem;
}

#prev:hover,
#next:hover {
    background-color: rgb(230, 228, 228);
    cursor: pointer;
}

.author {
    background-color: black;
}

@media(max-width:770px) {
    .newsCard {
        display: flex;
        justify-content: center;
    }
    .card {
        height: auto;
    }
    h4 {
        text-align: center;
    }
}

@media(max-width:1000px) {
    .navbar {
        background-color: black !important;
    }
    .nav-link:hover::after {
        width: 0;
    }
    .nav-link {
        color: rgb(164, 158, 158) !important;
        padding: 8px 16px;
        font-size: 1.3rem;
    }
    .nav-link:hover {
        background-color: #ddd !important;
        color: rgb(2, 2, 2) !important;
        border-left: 4px solid red;
        border-radius: 0 !important;
    }
    .navbar-brand {
        font-size: 1.5rem;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:1200px) {
    .card {
        max-width: 350px;
    }
}